.ico {
	display: inline-block;
	vertical-align: middle;
}

.ico-nodata{
    width: 140px;
    height: 140px;
    background-position: 0px 0px;
    background-image: url('images/sprite.png');
}
.ico-nodata2{
    width: 140px;
    height: 140px;
    background-position: -145px 0px;
    background-image: url('images/sprite.png');
}
